<p id="notice"><%= notice %></p>
<div class="character-map">
<style>
table {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  height: 100%;
  table-layout: fixed;
}
  
td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

thead {
  color: pink;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
  
tr:nth-child(even) {
  background-color: lightgrey;
  color: black
}

h1 {
  color: red;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  height: 100% ;
}

body {
  text-align: center;
  background-color: white;
  color: black;
  font-size: 15px;
}

button {
  margin-left: auto; 
  margin-right: auto;
  color: black;
}

.dark-mode {
  background-color: #A9A9A9;
  color: white;
}

</style>
<h1>Projects
<br>
<br>

</h1>

<toggle>
<button onclick="switchLight()">Toggle: Dark Mode</button>
<button onclick="changeFont('Georgia, serif'); ">Font: Georgia</button>
<button onclick="changeFont('Arial, sans-serif'); ">Font: Arial</button>
<button onclick="changeFont('Times New Roman, serif'); ">Font: TimesNewRoman</button>
<br>
<text>Resize Text: CTRL +/-</text>
<br><br>


<script>
function switchLight() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}

function changeFont(font){
        let elementThree = document.querySelector(".character-map")
        elementThree.style.fontFamily = font;
    }
</script>
</toggle>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.string %></td>
        <td><%= project.description %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        </tr>
    <% end %>
  </tbody>
</table>



<br>
<body>
<%= link_to 'New Project', new_project_path %>
</body>
</div>